<%= provide(:title, 'About Expert system') %>
<p>
  The <a href="http://en.wikipedia.org/wiki/Expert_system">Expert system</a>
  is a computer system that emulates the decision-making ability of a human expert. Expert systems are designed to
  solve complex problems by reasoning about knowledge, like an expert, and not by following the procedure of a developer
  as is the case in conventional programming.
</p>
<p>
  This is the sample application for the
  <a href="http://www.bsu.by/">BSU</a> special course on
  <a href="http://fpmi.bsu.by/ru/?guid=10060">DEPARTMENT OF INFORMATION SYSTEMS MANAGEMENT</a>.
</p>